<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap, datatables.js -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    <!-- source sans pro font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>PFAS Contamination</title>
</head>
<body>
    <div class="container">
        <h2>Explore PFAS Contamination Across the U.S. 🚰</h2>
        <p class="byline horizontal_line" style="text-align: center; font-size: medium;">PFAS, a group of over 12,000 synthetic chemicals used in industrial and consumer products, have been found in water systems throughout the United States. Overexposure to these "forever chemicals" is associated with health risks, such as high cholesterol and kidney cancer.<p>
        
        <br>
        
        <div class="row">
            <div class="col-md-6">
                    <h4><i class="fa-solid fa-circle-info fa-l" style="color: #235d72"></i> About</h4>
                    <p>The development of this app was partly inspired by the U.S. Environmental Protection Agency's recent decision to set a federal mandate for PFAS levels in drinking water, with a proposed limit of 4 parts per trillion for PFOA and PFOS. The data used in this app is sourced from Northeastern University's PFAS Project Lab. It's important to note that this data is limited due to a lack of widespread testing nationwide.</p>
                    <p>This app allows users to freely explore PFAS contamination across the country through two different interactive components: a locator map and a table. The locator map pinpoints the exact locations of PFAS contamination sites while the table displays the data in a more readable format. Users can also use search and sorting options to explore the data further. </p>
            </div>

            <div class="col-md-6">
                    <h4><i class="fa-sharp fa-solid fa-droplet fa-l" style="color: #235d72"></i> Why PFAS Contamination Matters</h4>
                    <p>Per- and polyfluoroalkyl substances (PFAS) have become a major concern for health and environmental experts worldwide. PFAS are a group of synthetic chemicals widely used in various products, such as non-stick cookware, waterproof clothing and food packaging due to their resistance to heat, water and oil. Their non-biodegradable nature has led to a build-up of these chemicals in humans and the environment.</p>
                    <p>Overexposure to PFAS may lead to health risks, such as changes in liver enzymes, increased risk of kidney cancer and increased cholesterol levels. This has prompted increased regulation and efforts across the country to reduce the use and contamination of PFAS. The chemicals can contaminate soil and water, and their widespread presence worldwide has made them a significant public health issue.</p>
            </div>

        <br><br>

        <div class="row" style="margin-top: 40px; margin-bottom: 40px;">
            <div class="col-md-4">
                    <p style="font-size: 20px; text-align: center;">There are at least <b style="color: #235d72;">1,778 known PFAS sites across the country</b>. Every state has <b style="color: #235d72;">at least two</b> known PFAS sites.</p>
            </div>

            <div class="col-md-4">
                    <p style="font-size: 20px; text-align: center;">The three states with the highest number of PFAS sites are <b style="color: #235d72;">New Hampshire with 471, California with 253 and Michigan with 197</b>.</p>
            </div>

            <div class="col-md-4">
                    <p style="font-size: 20px; text-align: center;"><b style="color: #235d72;">Landfills, military bases or facilities and industrial sites</b> contribute the most to PFAS contamination.</p>
            </div>
        </div>

        <br></br>

        <!-- locator map -->
        <center><iframe class="map", src="/map" width="1000" height="600"></iframe></center>

        <!-- table -->
        {% include 'table.html' %}

    </div>

    <!-- footer -->
    <div class="container">
        <footer class="py-3 my-4 border-top">
          <p>&copy; 2023 Amanda Hernández</p>
        </footer>
      </div>

    
    <!-- styling -->
    <style>

body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/* title */
h2 {
    font-weight: 900;
    padding: 20px 0 0 0;
    text-align: center;
    color: #235d72;
}

.container {
    width: 1000px;
}

.byline {
    padding-bottom: 12px;
}

.horizontal_line {
    border-bottom: 1px solid lightgray;
}

/* images */
img {
    width: 100%;
    height: auto;
  }

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

/* links */
.nav-pills .nav-link:link {
    color: black;
  }

.nav-pills .nav-link:visited {
    color: grey;
  }

.nav-pills .nav-link:hover {
    color: #0C3A6C;
  }

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: #0C3A6C;
}

/* footer */
footer {
    text-align: right;
}
    </style>
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>